{% extends 'bookmarks/base.html' %}
{% block main %}
  {% comment %} <div  class="container">
    <form method="GET">
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Seach</button>
  </div>  {% endcomment %}
      {% for bookmark in bookmarks %}
          <div class='align-center col'>
            <h5>Name :- {{ bookmark.name }}</h5>
            <h5>Folder :- {{ bookmark.folder }}</h5>
            <a href="{{bookmar.url}}">{{bookmark.url}}</a>
            <br>
          </div>
    {% endfor %}
{% endblock  %}